<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css" />
  </head>
  <body>
    <header class="container">
      <h1><a href="/">{{ site.title }}</a></h1>
      {% if site.description %}<p>{{ site.description }}</p>{% endif %}
      <hr />
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="container">
      <hr />
      <p>devsChile ShowCase</p>
    </footer>
  </body>
</html>
